/.conda-test-pkgs
/.vscode

/data/*
!/data/015105921010_01_reduced
!/data/rois/
/data/rois/*
!/data/rois/aoi_zar_tepe.geojson
!/data/interpreted_cropmarks.geojson

/docs/tools/*.md
!/docs/tools/README.md

/paper
/Python/convert_base64.py

/results/*.csv
!/results/MAE_extracted_values_cropmarks.csv

/Toolbox/app/sam3_cropmarks_example.py

sync.ffs_db
Python/cleanup_pycache.py
refactor_plan.md
